<hr />
<div class="footer-container">
    <p>© 2026 Knowledge Integration </p>
    <div class="social_icons">
        <a
            href="https://github.com/k-int"
            aria-label="GitHub"
            target="_blank"
            rel="noopener noreferrer"
        >
            <i class="fa-brands fa-github"></i>
        </a>
        <a
            href="https://uk.linkedin.com/company/knowledge-integration-ltd"
            aria-label="LinkedIn"
            target="_blank"
            rel="noopener noreferrer"
        >
            <i class="fa-brands fa-linkedin"></i>
        </a>
    </div>
</div>