<div class="nav-container">
    <div class="logo">
        <a href="/">
            <img class="logo-img" src="assets/images/Arches_icon_red.png" alt="Go to the home page">
        </a>
    </div>
    <div class="nav">
        <a href="/Event" class="link">Event</a>
        <a href="/About" class="link">About</a>
        <a href="/Community" class="link">Community</a>
        <a href="/Contact" class="link">Contact</a>
    </div>
</div>