<div class="nav-container">
    <div class="logo">
        <a href="/">
            <img class="logo-img" src="assets/images/Arches_icon_red.png" alt="Go to the home page">
        </a>
    </div>

    <div class="nav">
    
        <div class="navbar-option dropdown-btn">
            <button class="btn">Event
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a class="dropdown-btn btn" href="#">Link 1</a>
                <a class="btn" href="#">Link 2</a>
                <a class="btn" href="#">Link 3</a>
            </div>
        </div>
        
        <div class="navbar-option">
            <a class="btn" href="/About">About</a>
        </div>
    
        <div class="navbar-option dropdown-btn">
            <button class="btn">Community
                <i class="fa fa-caret-down"></i>                
            </button>
            <div class="dropdown-content">
                <a class="btn" href="https://www.archesproject.org/">Arches Project Website</a>
                <a class="btn" href="https://community.archesproject.org/">Community Forum</a>
            </div>
        </div>
    
        <div class="navbar-option">
            <a class="btn" href="/Contact">Contact</a>
        </div>
    
    </div>
</div>