.copyright{
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    background-color: #1D1E20;
}

.footer-container p {
    font-size: 0.8rem;
    color: #9B9C9D;
}

.footer-container .social_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 1rem;
}

.footer-container .social_icons a {
    color: #9B9C9D;
    font-size: 1.5rem;
    transition: all 0.5s ease-in-out;
}

.footer-container .social_icons a:hover {
    color: #DADADB;
}
