.main-content {
    display: block;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1D1E20;
}

.hero-slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero-progress-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgba(255, 255, 255, 0.2);
    z-index: 10;
}

.hero-progress-bar {
    height: 100%;
    background: #fff;
    width: 0%;
}

.hero-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    filter: brightness(60%);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.hero-bg-image.active {
    opacity: 1;
}

.hero-overlay {
    position: relative;
    z-index: 3;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.hero-text-box {
    h1 {
        font-size: 400%;
        font-weight: 600;
        margin: 0;
    }

    p {
        font-size: 1.5rem;
        font-weight: 300;
        margin-top: 0.5rem;
    }
}

.bold {
    font-weight: 600;
}

.hero-logos {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.hero-logo {
    height: 35px;
    width: auto;
}

.event-info-container {
    display: flex;
    justify-content: space-between;
}

.event-info-block {
    flex: 1;
    padding: 50px;
    text-align: center;
}

.info-text {
    justify-content: center;
    align-items: center;

    h2 {
        margin-bottom: 10px;
    }

    p {
        font-weight: 300;
        margin-bottom: 10px;
    }
}

.event-info-button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: solid white;
}

.tickets {
    background-color: #FAAFA0;
}

.tickets-text {
    color: #fff;
}

.proposals {
    background-color: rgb(150, 158, 246);
}

.proposals-text {
    color: #fff;
}