.main-content {
    display: block;
}

.hero {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1D1E20;
}

.hero-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    filter: brightness(70%);    
}

.hero-overlay {
    position: relative;
    z-index: 3;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.hero-text-box {
    h1 {
        font-size: 400%;
        font-weight: 600;
        margin: 0;
    }

    p {
        font-size: 1.5rem;
        font-weight: 300;
        margin-top: 0.5rem;
    }
}

.bold {
    font-weight: 600;
}

.hero-logos {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.hero-logo {
    height: 35px;
    width: auto;
}

.event-info-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.event-info-block {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.info-text {
    justify-content: center;
    align-items: center;

    p {
        font-size: 1rem;
        font-weight: 300;
    }
}

.tickets {
    background-color: #FAAFA0;
}

.tickets-text {
    color: #fff;
}

.proposals {
    background-color: rgb(150, 158, 246);
}

.proposals-text {
    color: #fff;
}