* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.3;
    /* background-color: #1D1E20; */
    color: #DADADB;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #DADADB;
}

li {
    list-style: none;
}

.main-content {
    display: block;
}

.hero {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1D1E20;
}

.hero-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    filter: brightness(70%);    
}

.hero-overlay {
    position: relative;
    z-index: 3;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.hero-text-box {
    h1 {
        font-size: 400%;
        font-weight: 600;
        margin: 0;
    }

    p {
        font-size: 1.5rem;
        font-weight: 300;
        margin-top: 0.5rem;
    }
}

.hero-logos {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.hero-logo {
    height: 35px;
    width: auto;
}