.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 80px;
    /* background-color: #1D1E20; */
}

.nav-container .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-container .logo .logo-img {
    height: 40px;
}

.nav-container .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 2rem;
}

.btn {
    background-color: white;
    color: #DADADB;
    border: none;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}

.navbar-option {
    position: relative;
    display: inline-block;
    padding: 16px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown-btn:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-btn:hover {
    background-color: #3e8e41;
}