{% extends "layouts/base.njk" %}

{% block content %}

{% if image %}
<section class="page-hero">
    <div class="page-hero-image">
        <img src="{{ image.path | url }}" alt="{{ image.alt }}" class="hero-bg-image">
        <div class="hero-attribution">{{ image.attr }}</div>
    </div>

    <div class="page-hero-overlay">
        <div class="page-hero-text-box">
            <h1>{{ title }}</h1>
        </div>
    </div>
</section>
{% endif %}

<section class="main-content" nav-theme="dark">
    {% if not image %}
        <h1>{{ title }}</h1>
    {% endif %}
    {{ content | safe }}
</section>


{% endblock %}
