---
layout: layouts/base.njk
title: Home
permalink: /index.html
---

<section class="hero">
    <img src="/assets/images/pot-of-gold.jpeg" alt="Sheffield header image" class="hero-image">

    <div class="hero-text">
        Arches 2026 Developer Meetup

        <p>Welcome to the home of the 2026 Arches Developer Meetup in Sheffield, UK</p>

    </div>
</section>

<section>
    <p></p>
</section>