---
layout: layouts/base.njk
title: Home
permalink: /index.html
---

<section class="hero">
  <img src="/assets/images/pot-of-gold.jpeg" alt="Sheffield header image" class="hero-bg-image">
  
  <div class="hero-overlay">
    <div class="hero-text-box">
      <h1>Arches Developer Meeting 2026</h1>
      <p>June 8-10 | Millennium Gallery, Sheffield</p>
    </div>

    <div class="hero-logos">
      <img src="/assets/images/arches/arches-logo-red.png" alt="Arches" class="hero-logo">
      <img src="/assets/images/k-int/k-int-logo.png" alt="K-Int" class="hero-logo">
    </div>
  </div>
</section>


<section>
    <p></p>
</section>