---
layout: layouts/base.njk
title: Home
permalink: /index.html
script: /assets/js/slides.js
---

<section class="hero">
    <div class="hero-slides">
        <div class="hero-slide active">
            <img src="{{ '/assets/images/sheffield/pot-of-gold.jpeg' | url }}" alt="Sheffield view from South Street" class="hero-bg-image" style="object-position: 50% 85%;">
            <div class="hero-attribution">South Street (photo by Kevin Kochanski)</div>
        </div>

        <div class="hero-slide">
            <img src="{{ '/assets/images/sheffield/park-hill-ef-2.jpg' | url }}" alt="Park Hill flats" class="hero-bg-image">
            <div class="hero-attribution">Park Hill (photo by Ethan Freestone)</div>
        </div>
    </div>

    <div class="hero-overlay">
        <div class="hero-text-box">
            <h1>Arches Developer Meeting 2026</h1>
            <p>June 8th-10th | Millennium Gallery, Sheffield, UK</p>
        </div>

        <div class="hero-logos">
            <img src="{{ '/assets/images/arches/arches-logo-red.png' | url }}" alt="Arches" class="hero-logo">
            <img src="{{ '/assets/images/k-int/k-int-logo.png' | url }}" alt="K-Int" class="hero-logo">
        </div>
    </div>

    <div class="hero-progress-container">
        <div class="hero-progress-bar" id="progress-bar"></div>
    </div>

</section>

<section class="event-info-container">
    <div class="event-info-block summary">
        <div class="info-text summary-text">
            <h2>Welcome to Sheffield, Arches developers!</h2>
            <p>The Arches Developer Meeting is an annual, in-person event that brings together individuals interested in the technical side of the <a href="https://www.archesproject.org/">Arches</a> open-source data management platform for the heritage field.</p>
            <p>Attendees will have the opportunity to learn about the latest developments and project, engage developer discussions, and network with the Arches technical community.</p>
            <p><a href="https://www.k-int.com/">Knowledge Integration</a> are delighted to be hosting the 2026 meetup and welcome you all to Sheffield!</p>
        </div>
    </div>
</section>

<section class="event-info-container">
    <div class="event-info-block tickets">
        <div class="info-text tickets-text">
            <h2>Tickets</h2>
            <p>Registration for the Arches Developer Meeting 2026 is now open.</p>
            <p>Sign up for tickets using the Eventbrite page.</p>
            <a class="event-info-button tickets-button" href="https://www.eventbrite.co.uk/manage/events/create">Register</a>
        </div>
    </div>
    <div class="event-info-block proposals">
        <div class="info-text proposals-text">
            <h2>Call for Proposals</h2>
            <p>If you are interested in presenting a piece of work or suggesting a discussion topic, use the submission form.</p>
            <p>The deadline for proposals is <span class="bold">April 10th</span>.</p>
            <a class="event-info-button proposals-button" href="https://forms.gle/YQHiwSraLs1pSfi99">Submit response</a>
        </div>
    </div>
</section>

<script src="{{ script | url }}"></script>