<div class="nav-container">
    <div class="logo">
        <a href="/">
            <img class="logo-img" src="/assets/images/arches/arches-icon-red.png" alt="Go to the home page">
        </a>
    </div>

    <div class="nav">
    
        <div class="navbar-option dropdown-btn">
            <button class="btn">Event
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a class="btn" href="/venue">Venue</a>
                <a class="btn" href="/agenda">Agenda</a>
            </div>
        </div>
        
        <div class="navbar-option dropdown-btn">
            <button class="btn">Visit
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a class="btn" href="/about-sheffield">About Sheffield</a>
                <a class="btn" href="/travel">Travel</a>
                <a class="btn" href="/accommodation">Accommodation</a>
            </div>
        </div>
    
        <div class="navbar-option dropdown-btn">
            <button class="btn">Community
                <i class="fa fa-caret-down"></i>                
            </button>
            <div class="dropdown-content">
                <a class="btn" href="https://www.archesproject.org/">Arches Project Website</a>
                <a class="btn" href="https://community.archesproject.org/">Community Forum</a>
            </div>
        </div>
    
        <div class="navbar-option">
            <a class="btn" href="/Contact">Contact</a>
        </div>
    
    </div>
</div>